 
    body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

    section{background-color: rgb(29, 58, 102);
        color: #fff;
        padding: 10px 0 10px 5px;
    }
      
       
    .container{
        max-width: 1000px;
        margin: 50px auto;
        padding: 0px;
        border: 0px solid #ccc;
        border-radius: 5px;
    }
      
      
       
    button{
        border-radius: 50%; 
        padding: 10px 20px; 
        font-size: 25px; 
        background-color: rgb(29, 58, 102);
        color: #fff;; 
        border:#0056b3; 
        cursor: pointer;
        display: block; width: 150px; margin-left: 70%;
    }
      
     
    button:hover{
        background-color: #0056b3;
    }

     
    .merged-input-container{
        position: relative;
        display: inline-block;
    }
      
    .merged-input-container input,
    .merged-input-container select {
        padding: 22px; 
        font-size: 16px; 
        border: 2px solid #000; 
        border-radius: 5px;
        width: calc(50% - 0px); 
        box-sizing: border-box;
    }

    select{background-color: rgb(29, 58, 102);
        color: #fff;;
    }
      
       
    .merged-input-container input{
        border-top-right-radius: 0;
        width: 300px;; 
        border-bottom-right-radius: 0;
    }
      
       
    .merged-input-container select{
        position: absolute;
        top: 0;
        right: 0;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }